<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>刚察农业信息管理系统</title>

		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/base.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/iconfont.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/layui/css/layui.css}">
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/jquery.mCustomScrollbar.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/frameStyle.css}">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" th:src="@{/temp/framework/jquery-1.11.3.min.js}" ></script>
		<script type="text/javascript" th:src="@{/temp/layui/layui.js}"></script>
		<script th:src="@{/temp/framework/jquery-ui-1.10.4.min.js}"></script>
		<script th:src="@{/temp/framework/jquery.mousewheel.min.js}"></script>
		<script th:src="@{/temp/framework/jquery.mCustomScrollbar.min.js}"></script>
		<!-- 公共样式 结束 -->
		
		<script type="text/javascript" th:src="@{/js/workbench.js}" ></script>
		<style type="text/css">
		  .box {
		    height: 40px;
		    line-height: 50px;
		    overflow: hidden;
		    float: right;
		    color:rgb(194, 53, 49);
		  }
		
		  .wrapper p {
		  	line-height: 50px;
		    text-align: left;
		  }
		</style>
	</head>

	<body>
		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="menu">
		    	<div style="color:#c2c2c2;height: 50px;white;font-size: 18px;padding-left: 20px;line-height: 50px;">青海省农林科学院</div>
		        <ul>
		        	<li>
		                <a class="menuFA menuLA" href="javascript:void(0)" url="/dataoverview"><i class="iconfont icon-shouye left"></i>数据总览</a>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-caigoudan left"></i>数据信息<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/farminfo">养殖场基本信息</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/animalsBreed">畜牧业生产信息</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/animalsBreed/animalsBreedReport">畜牧业生产报表信息</a></dt>
           			        <dt><a class="menuLA" href="javascript:void(0)" url="/cropsplant">农作物产量面积信息</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/waterinfo">水质监测信息</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/climateinfo">气候监测信息</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/soilinfo">土壤监测信息</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/grassinfo">草原生态监测信息</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/airinfo">空气站监测信息</a></dt>
		                </dl>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-icon left"></i>统计分析<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/climateinfo/climateAnalysis">气候信息分析</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/soilinfo/soilAnalysis">土壤信息分析</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/cropsplant/cropsPlantAnalysis">农作物产量面积分析</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/animalsBreed/animalsBreedAnalysis">畜牧业生产情况分析</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/grassinfo/grassAnalysis">草地生态情况分析</a></dt>
		                </dl>
		            </li>
		            <li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-dingdan left"></i>农业信息<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/policymaintain">政策文件信息</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/agrinews">农业信息</a></dt>
		                </dl>
		            </li>
		        	<li th:if="${session.userinfo.roleinfo.role_name!='user'}">
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-zhuyidapx left"></i>监测报警<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a class="menuLA" href="javascript:void(0)"  url="/monitorManage">报警阈值</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)"  url="/monitorManage/monitorlog">报警记录</a></dt>
		                </dl>
		           	</li>
		           	<li th:if="${session.userinfo.roleinfo.role_name!='user'}">
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left"></i>分类维护<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/farminfo/animalstype">认定畜种维护</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/animalsBreed/animalsTarget">畜牧业指标维护</a></dt>
		                	<dt><a class="menuLA" href="javascript:void(0)" url="/cropsplant/cropstype">农作物分类维护</a></dt>
		                </dl>
		           	</li>
		        	<li th:if="${session.userinfo.roleinfo.role_name!='user'}">
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-shezhi left"></i>系统管理<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a class="menuLA" th:if="${session.userinfo.roleinfo.role_name=='sys'}" href="javascript:void(0)" url="/userinfo">用户管理</a></dt>
		                	<dt><a class="menuLA" th:if="${session.userinfo.roleinfo.role_name=='sys'}" href="javascript:void(0)" url="/syslog">系统日志</a></dt>
		                </dl>
		           	</li>
		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->
		
		<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">
				<div class="layui-header">
					<div style="float: left;padding-left: 10px">
						<span id="nav" style="color: #666;line-height: 50px;font-size: 14px;font-style: normal;">数据总览</span>
						
						<span id="monitorSpan" style="display: none;color:rgb(194, 53, 49);margin-left: 50px;display:inline">预警消息：</span>
						<div class="box" style="display: none;">
						 	<div class="wrapper" id="monitorinfo">
							    
						  	</div>
						</div>
					</div>
						
					<div class="topMenu">
					<ul>
						<li><a href="javascript:void(0)"><i class="iconfont icon-yonghu1"></i><span th:text="${session.userinfo.user_showname}"></span></a></li>
						<li><a id="updpw" href="javascript:void(0)"><i class="iconfont icon-xiugaimima"></i></a></li>
						<li><a href="/loginout"><i class="iconfont icon-084tuichu"></i></a></li>
					</ul>
				</div>
				</div>
			</div>
			<!-- 头部栏 - 结束 -->
			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="con">
					<iframe id="mainIframe" src="/dataoverview"></iframe>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>

</html>