<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>畜牧业生产情况分析</title>
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/base.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/iconfont.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/layui/css/layui.css}">
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/jquery.mCustomScrollbar.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/frameStyle.css}">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" th:src="@{/temp/framework/jquery-1.11.3.min.js}" ></script>
		<script type="text/javascript" th:src="@{/temp/layui/layui.js}"></script>
		<script th:src="@{/temp/framework/jquery-ui-1.10.4.min.js}"></script>
		<script th:src="@{/temp/framework/jquery.mousewheel.min.js}"></script>
		<script th:src="@{/temp/framework/jquery.mCustomScrollbar.min.js}"></script>
		<!-- 公共样式 结束 -->
		<style type="text/css">
		#preloader_1{
    position:relative;margin-left: 47%;
    margin-top: 254px;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
}  
#preloader_1 span:nth-child(2){
    left:11px;
    animation-delay: .2s;  
}
#preloader_1 span:nth-child(3){
    left:22px;
    animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
    left:33px;
    animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
    left:44px;
    animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:10px;transform:translateY(0px);background:#9b59b6;}
    25% {height:20px;transform:translateY(0px);background:#3498db;}
    50% {height:60px;transform:translateY(15px);background:#9b59b6;}
    75% {height:20px;transform:translateY(0px);background:#9b59b6;}
    100% {height:10px;transform:translateY(0px);background:#9b59b6;}
}
		</style>
	</head>

	<body style="overflow: auto">
	  <div class="layui-fluid">
      <div class="layui-row layui-col-space10">
			<div class="layui-col-xs12" style="height:66px">
		      <!-- 填充内容 -->
		      <div class="layui-card">
		        <div class="layui-card-body">
		        	<div class="queryArea">
						<form class="layui-form" action="">
							<div class="layui-form-item">
								<label style="width: 60px" class="layui-form-label text-left">年度：</label>
								<div class="layui-input-inline">
									<input type="text" id="year" class="layui-input">
								</div>
								<label class="layui-form-label" >指标名称：</label>
								<div class="layui-input-inline">
									<select id="target_type" name="target_type" required lay-verify="required" lay-filter="target_type">
								    	<option th:each="type:${animalsTarget}" th:value="${type.gid}" th:text="${type.target_name}"></option>
								   </select>
								</div>
							</div>
						</form>
					</div>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="layui-row layui-col-space10">
			<div class="layui-col-xs6">
		      <div class="layui-card">
		        <div class="layui-card-body" style="height: 300px">
		        <!-- --存栏情况图 -->
		        	<div id="chart1" style="height: 100%"></div>
		        </div>
		      </div>
		    </div>
		    <div class="layui-col-xs6">
		      <div class="layui-card">
		        <div class="layui-card-body" style="height: 300px">
		        <!-- ---产仔情况图 -->
		        	<div id="chart2" style="height: 100%"></div>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="layui-row layui-col-space10">
			<div class="layui-col-xs6">
		      <div class="layui-card">
			    <div id="tabletitle1" class="layui-card-header"></div>
		        <div class="layui-card-body" style="height: 300px">
		        	<table id="datalist1"></table>
		        </div>
		      </div>
		    </div>
		    <div class="layui-col-xs6">
		      <div class="layui-card">
			    <div id="tabletitle2" class="layui-card-header"></div>
		        <div class="layui-card-body" style="height: 300px">
		        	<table id="datalist2"></table>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="layui-row layui-col-space10">
			<div class="layui-col-xs6">
		      <div class="layui-card">
		        <div class="layui-card-body" style="height: 300px">
		        <!-- --成畜损亡情况图 -->
		        	<div id="chart3" style="height: 100%"></div>
		        </div>
		      </div>
		    </div>
		    <div class="layui-col-xs6">
		      <div class="layui-card">
		        <div class="layui-card-body" style="height: 300px">
		        <!-- ---出栏情况图 -->
		        	<div id="chart4" style="height: 100%"></div>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="layui-row layui-col-space10">
			<div class="layui-col-xs6">
		      <div class="layui-card">
			    <div id="tabletitle3" class="layui-card-header"></div>
		        <div class="layui-card-body" style="height: 300px">
		        	<table id="datalist3"></table>
		        </div>
		      </div>
		    </div>
		    <div class="layui-col-xs6">
		      <div class="layui-card">
			    <div id="tabletitle4" class="layui-card-header"></div>
		        <div class="layui-card-body" style="height: 300px">
		        	<table id="datalist4"></table>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="layui-row layui-col-space10">
			<div class="layui-col-xs6">
		      <div class="layui-card">
		        <div class="layui-card-body" style="height: 300px">
		        <!-- --畜产品生产情况图 -->
		        	<div id="chart5" style="height: 100%"></div>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="layui-row layui-col-space10">
		    <div class="layui-col-xs6">
		      <div class="layui-card">
			    <div id="tabletitle5" class="layui-card-header"></div>
		        <div class="layui-card-body" style="height: 300px">
		        	<table id="datalist5"></table>
		        </div>
		      </div>
		    </div>
		</div>
    </div>
    
    <div id="preloaderDiv" style="display:none;height: 2000px;width: 100%;top: 0px;position: absolute;-webkit-tap-highlight-color: rgba(0,0,0,0);position: fixed;
    pointer-events: auto;margin: 0;
    padding: 0;
    background-color: #fff;
    -webkit-background-clip: content;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);    z-index: 19891015">
    	<div id="preloader_1" >
	    <span></span>
	    <span></span>
	    <span></span>
	    <span></span>
	    <span></span>
		</div>
    </div>
	   	<script th:src="@{/temp/echarts.min.js}"></script>
		<script th:src="@{/js/statisticanalysis/animalsBreedAnalysis/animalsBreedAnalysis.js}"></script>
	</body>
</html>