<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>畜牧业生产情况分析</title>
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/base.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/iconfont.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/layui/css/layui.css}">
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/jquery.mCustomScrollbar.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/frameStyle.css}">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" th:src="@{/temp/framework/jquery-1.11.3.min.js}" ></script>
		<script type="text/javascript" th:src="@{/temp/layui/layui.js}"></script>
		<script th:src="@{/temp/framework/jquery-ui-1.10.4.min.js}"></script>
		<script th:src="@{/temp/framework/jquery.mousewheel.min.js}"></script>
		<script th:src="@{/temp/framework/jquery.mCustomScrollbar.min.js}"></script>
		<!-- 公共样式 结束 -->
	</head>

	<body style="background: white;overflow:auto;">
		<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin: 0px;border-top:1px solid #e6e6e6">
		  <ul class="layui-tab-title">
		    <li class="layui-this">月度报表</li>
		    <li>年度报表</li>
		  </ul>
		  <div class="layui-tab-content" style="padding:0px">
		    <div class="layui-tab-item layui-show" style="background: #f2f2f2;">
		    <div class="layui-fluid">
		      <div class="layui-row layui-col-space10">
					<div class="layui-col-xs12" style="height:66px">
				      <!-- 填充内容 -->
				      <div class="layui-card">
				        <div class="layui-card-body">
				        	<div class="queryArea">
								<form class="layui-form" action="">
									<div class="layui-form-item">
										<label class="layui-form-label text-left">月度：</label>
										<div class="layui-input-inline">
											<input type="text" id="month" class="layui-input">
										</div>
										<a id="exportMonthData" class="layui-btn"><i class="layui-icon"></i>月报导出</a>
									</div>
								</form>
							</div>
				        </div>
				      </div>
				    </div>
				</div>
				<div class="layui-row layui-col-space10">
					<div class="layui-col-xs12">
				      <!-- 填充内容 -->
				      <div class="layui-card">
				        <div class="layui-card-body">
				        	<table id="datalist1"  lay-filter="datalist1"></table>
				        </div>
				      </div>
				    </div>
				</div>
		    </div>
			</div>
			
		    <div class="layui-tab-item" style="background: #f2f2f2;">
		    <div class="layui-fluid">
		      <div class="layui-row layui-col-space10">
					<div class="layui-col-xs12" style="height:66px">
				      <div class="layui-card">
				        <div class="layui-card-body">
				        	<div class="queryArea">
							<form class="layui-form" action="">
								<div class="layui-form-item" style="margin-bottom: 0px">
									<label class="layui-form-label text-left">年度：</label>
									<div class="layui-input-inline">
										<input type="text" id="year" class="layui-input">
									</div>
									<a id="exportYearData" class="layui-btn"><i class="layui-icon"></i>年报导出</a>
								</div>
							</form>
							</div>
				        </div>
				      </div>
				    </div>
				</div>
				<div class="layui-row layui-col-space10">
					<div class="layui-col-xs12">
				      <!-- 填充内容 -->
				      <div class="layui-card">
				        <div class="layui-card-body">
				        	<table id="datalist" lay-filter="datalist"></table>
				        </div>
				      </div>
				    </div>
				</div>
		    </div>
			</div>
		</div>
		</div> 
		 <script th:src="@{/temp/echarts.min.js}"></script>
		<script th:src="@{/js/statisticanalysis/animalsBreedAnalysis/animalsBreedReport.js}"></script>
	</body>
</html>