<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>渔业生产信息</title>
		<link rel="stylesheet" type="text/css" th:href="@{/temp/layui/css/layui.css}">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" th:src="@{/temp/framework/jquery-1.11.3.min.js}" ></script>
		<script type="text/javascript" th:src="@{/temp/layui/layui.js}"></script>
		<!-- 公共样式 结束 -->
		
		<style type="text/css">
			.span_title{
				width : 250px;
			}
			.input_area{
				width : 150px;
			}
		</style>
	</head>

	<body>
		<div class="cBody" style="margin-top:10px;height: 450px">
			<form id="addForm" class="layui-form" action="">
				<input type="hidden" name="gid"/>
				<div class="layui-form-item">
					<label class="layui-form-label span_title">所属区域：</label>
	                <div class="layui-input-inline">
	                    <input type="text" name="county" readonly="readonly" class="layui-input input_area" value="刚察县">
	                </div>
	                <!--<label class="layui-form-label span_title">所属乡镇：</label>
	                <div class="layui-input-inline">
	                    <input type="text" name="towns" class="layui-input input_area">
	                </div>-->
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">年份：</label>
					<div class="layui-input-inline">
						<input id="date_year" type="text" name="date_year" required lay-verify="required" 
							autocomplete="off" class="layui-input input_area" readonly="readonly">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">青海湖水位：</label>
					<div class="layui-input-inline">
						<input type="text" name="water_level" required lay-verify="required" 
							autocomplete="off" class="layui-input input_area">
					</div>
					<label class="layui-form-label span_title">青海湖面积：</label>
					<div class="layui-input-inline">
						<input type="text" name="water_area" required lay-verify="required"
							autocomplete="off" class="layui-input input_area">
					</div>
				</div>
				
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">青海湖盐度：</label>
					<div class="layui-input-inline">
						<input type="text" name="water_salinity" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">青海湖ph：</label>
					<div class="layui-input-inline">
						<input type="text" name="water_ph" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">裸鲤总尾数：</label>
					<div class="layui-input-inline">
						<input type="text" name="naked_carp_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">裸鲤总资源量：</label>
					<div class="layui-input-inline">
						<input type="text" name="naked_carp_quality" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">浮游植物密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="phytoplankton_density" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">浮游植物平均密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="phytoplankton_avg_density" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">浮游植物生物量：</label>
					<div class="layui-input-inline">
						<input type="text" name="phytoplankton_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">浮游植物平均生物量：</label>
					<div class="layui-input-inline">
						<input type="text" name="phytoplankton_avg_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">浮游动物密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="zooplankter_density" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">浮游动物平均密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="zooplankter_avg_density" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">浮游动物生物量：</label>
					<div class="layui-input-inline">
						<input type="text" name="zooplankter_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">浮游动物平均生物量：</label>
					<div class="layui-input-inline">
						<input type="text" name="zooplankter_avg_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">底栖动物密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="zoobenthos_density" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">底栖动物单位面积生物量：</label>
					<div class="layui-input-inline">
						<input type="text" name="zoobenthos_avg_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">底栖动物平均密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="zoobenthos_avg_density" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">布哈河裸鲤卵苗分布密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="naked_carp_seed_in_bhh" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">沙柳河裸鲤卵苗分布密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="naked_carp_seed_in_slh" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">泉吉河裸鲤卵苗分布密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="naked_carp_seed_in_qjh" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">黑马河裸鲤卵苗分布密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="naked_carp_seed_in_hmh" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">哈尔盖河裸鲤卵苗分布密度：</label>
					<div class="layui-input-inline">
						<input type="text" name="naked_carp_seed_in_hegh" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div style="" class="layui-form-item">
					<div class="layui-input-block" style="text-align: center">
						<button class="layui-btn" lay-submit lay-filter="submitBut">保存</button>
					</div>
				</div>
			</form>
			
			<script th:src="@{/js/datamanage/fishinfo/fishupdate.js}"></script>
		</div>
	</body>

</html>