<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>农产品信息</title>
		<link rel="stylesheet" type="text/css" th:href="@{/temp/layui/css/layui.css}">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" th:src="@{/temp/framework/jquery-1.11.3.min.js}" ></script>
		<script type="text/javascript" th:src="@{/temp/layui/layui.js}"></script>
		<!-- 公共样式 结束 -->
		
		<style type="text/css">
			.span_title{
				width : 250px;
			}
			.input_area{
				width : 150px;
			}
		</style>
	</head>

	<body>
		<div class="cBody" style="margin-top:10px;height: 450px">
			<form id="addForm" class="layui-form" action="">
				<input type="hidden" name="gid"/>
				<div class="layui-form-item">
					<label class="layui-form-label span_title">所属区域：</label>
	                <div class="layui-input-inline">
	                    <input type="text" name="county" readonly="readonly" class="layui-input input_area" value="刚察县">
	                </div>
	                <!--<label class="layui-form-label span_title">所属乡镇：</label>
	                <div class="layui-input-inline">
	                    <input type="text" name="towns" class="layui-input input_area">
	                </div>-->
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">年份：</label>
					<div class="layui-input-inline">
						<input id="date_year" type="text" name="date_year" required lay-verify="required" 
							autocomplete="off" class="layui-input input_area" readonly="readonly">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">种植业农产品总产量：</label>
					<div class="layui-input-inline">
						<input type="text" name="plant_product_count" required lay-verify="required" 
							autocomplete="off" class="layui-input input_area">
					</div>
					<label class="layui-form-label span_title">畜牧业农产品总产量：</label>
					<div class="layui-input-inline">
						<input type="text" name="animal_product_count" required lay-verify="required"
							autocomplete="off" class="layui-input input_area">
					</div>
				</div>
				
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">渔业农产品总产量：</label>
					<div class="layui-input-inline">
						<input type="text" name="fish_product_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">种植业优质产品产量：</label>
					<div class="layui-input-inline">
						<input type="text" name="high_quality_plant_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">畜牧业优质产品产量：</label>
					<div class="layui-input-inline">
						<input type="text" name="high_quality_animal_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">渔业优质产品产量：</label>
					<div class="layui-input-inline">
						<input type="text" name="high_quality_fish_count" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div style="" class="layui-form-item">
					<div class="layui-input-block" style="text-align: center">
						<button class="layui-btn" lay-submit lay-filter="submitBut">保存</button>
					</div>
				</div>
			</form>
			
			<script th:src="@{/js/datamanage/farmproductinfo/farmproductupdate.js}"></script>
		</div>
	</body>

</html>