<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>农业信息维护</title>
		<link rel="stylesheet" type="text/css" th:href="@{/temp/layui/css/layui.css}">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" th:src="@{/temp/framework/jquery-1.11.3.min.js}" ></script>
		<script type="text/javascript" th:src="@{/temp/layui/layui.js}"></script>
		<!-- 公共样式 结束 -->
		
		
	    <!-- 配置文件 -->
	    <script type="text/javascript" th:src="@{/temp/ueditor/js/ueditor.config.js}"></script>
	    <!-- 编辑器源码文件 -->
	    <script type="text/javascript" th:src="@{/temp/ueditor/js/ueditor.all.min.js}"></script>
	</head>

	<body>
		<div class="cBody" style="height: 550px">
			<form id="addForm" class="layui-form" action="">
				<input type="hidden" name="gid"/>
				<div class="layui-form-item" style="padding-top: 10px">
					<label class="layui-form-label"  style="width: 140px">标题：</label>
					<div class="layui-input-inline">
						<input type="text" id="title" name="title" lay-verify="required" autocomplete="off" class="layui-input" style="width: 400px">
					</div>
					
					<div class="layui-input-inline" style="float:right">
						<button class="layui-btn" id="saveBtn" lay-submit lay-filter="submitBut">保存</button>
					</div>
				</div>
				
				<!-- 加载编辑器的容器 -->
   				<textarea id="container" name="content" style="padding-left:15px;padding-bottom:5px;width:740px;height:400px"></textarea>
				
			</form>
			
			<script th:src="@{/js/agriinfo/agrinews/agrinewsedit.js}"></script>
		</div>
	</body>

</html>