<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>畜牧业生产情况</title>
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/base.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/iconfont.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/layui/css/layui.css}">
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/jquery.mCustomScrollbar.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/temp/css/frameStyle.css}">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" th:src="@{/temp/framework/jquery-1.11.3.min.js}" ></script>
		<script type="text/javascript" th:src="@{/temp/layui/layui.js}"></script>
		<script th:src="@{/temp/framework/jquery-ui-1.10.4.min.js}"></script>
		<script th:src="@{/temp/framework/jquery.mousewheel.min.js}"></script>
		<script th:src="@{/temp/framework/jquery.mCustomScrollbar.min.js}"></script>
		<!-- 公共样式 结束 -->
	</head>

	<body>
   <div class="layui-fluid">
      <div class="layui-row layui-col-space10">
			<div class="layui-col-xs12" style="height:66px">
		      <!-- 填充内容 -->
		      <div class="layui-card">
		        <div class="layui-card-body">
		        	<div class="queryArea">
						<form class="layui-form" action="">
							<div class="layui-form-item">
								<label class="layui-form-label text-left">月份：</label>
								<div class="layui-input-inline">
									<input type="text" id="date_month" class="layui-input">
								</div>
								<!-- <label class="layui-form-label">乡镇：</label>
								<div class="layui-input-inline">
							      <select id="towns">
							        <option th:each="type:${towns}" th:value="${type}" th:text="${type}"></option>
							      </select>
							    </div> -->
							    <!-- <label class="layui-form-label">指标：</label>
								<div class="layui-input-inline">
							      <select id="animalsTarget">
							        <option value=""></option>
							        <option th:each="type:${animalsTarget}" th:value="${type.gid}" th:text="${type.target_name}"></option>
							      </select>
							    </div> -->
								<a id="queryBtn" class="layui-btn">检索</a>
								<a th:if="${session.userinfo.roleinfo.role_name!='user'}" type="button" class="layui-btn" id="dataImportBtn"><i class="layui-icon"></i>导入数据</a>
								<a href="/animalsBreed/download" class="layui-btn"><i class="layui-icon"></i>模板下载</a>
							</div>
						</form>
					</div>
		        </div>
		      </div>
		    </div>
		</div>
		<div class="layui-row layui-col-space10">
			<div class="layui-col-xs12">
		      <!-- 填充内容 -->
		      <div class="layui-card">
		        <div class="layui-card-body">
		        	<table id="datalist"  lay-filter="datalist"></table>
					<!-- 操作列 -->
					<script type="text/html" id="oper-col" th:if="${session.userinfo.roleinfo.role_name=='admin'}">
						{{#  if(d.isleaf==1){}}
   						<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
  						{{#  } }}
					</script>
					<!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> -->
					<script type="text/html" id="barDemo" th:if="${session.userinfo.roleinfo.role_name!='user'}">
  					 <div class="layui-inline" lay-event="add"><i class="layui-icon layui-icon-add-1"></i></div><div class="layui-inline" lay-event="update"><i class="layui-icon layui-icon-edit"></i></div><div class="layui-inline" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></div>
					</script>
		        </div>
		      </div>
		    </div>
		</div>
    </div>
		<script th:src="@{/js/datamanage/animalsBreed/datalist.js}"></script>
	</body>
</html>