<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agri.monitor.mapper.AgriBaseinfoMapper">
	<select id="findById" parameterType="int" resultType="com.agri.monitor.entity.AgriBaseinfo">
		select * from t_agribase_info where gid=#{gid}
	</select>
    <select id="findAllForPage" parameterType="com.agri.monitor.vo.AgriBaseinfoQueryVO" resultType="map">
        select gid,county,towns,village,IFNULL(rksl,' ') rksl,IFNULL(gtmj,' ') gtmj,
        IFNULL(gdmj,' ') gdmj,IFNULL(gbzntmj,' ') gbzntmj,IFNULL(ccmj,' ') ccmj,
        IFNULL(nzwzl,' ') nzwzl,IFNULL(nzzmj,' ') nzzmj,IFNULL(zzfs,' ') zzfs  
        from t_agribase_info where 1=1
        <if test="towns != null and towns != ''">
        	and towns=#{towns}
	    </if>
	    order by gid desc limit #{currIndex},#{limit}
    </select>
    <select id="findAllCount" parameterType="com.agri.monitor.vo.AgriBaseinfoQueryVO" resultType="int">
        select count(gid) from t_agribase_info where 1=1
        <if test="towns != null and towns != ''">
        	and towns=#{towns}
	    </if>
    </select>
    <insert id="batchInsert" parameterType="java.util.List">
    	insert into t_agribase_info(county,towns,village,rksl,gtmj,gdmj,gbzntmj,ccmj,nzwzl,nzzmj,zzfs,creator,modifier,create_time)
    	values
    	<foreach collection="list" item="item" index="index" separator=",">
		   (#{item.county},#{item.towns},#{item.village},#{item.rksl},#{item.gtmj},#{item.gdmj},#{item.gbzntmj},
		   #{item.ccmj},#{item.nzwzl},#{item.nzzmj},#{item.zzfs},#{item.creator},#{item.modifier},now())
		</foreach>
    </insert>
    
    <insert id="insert" parameterType="com.agri.monitor.entity.AgriBaseinfo">
    	insert into t_agribase_info(county,towns,village,rksl,gtmj,gdmj,gbzntmj,ccmj,nzwzl,nzzmj,zzfs,creator,modifier,create_time)
    	values
	   (#{county},#{towns},#{village},#{rksl},#{gtmj},#{gdmj},#{gbzntmj},#{ccmj},#{nzwzl},#{nzzmj},#{zzfs},#{creator},#{modifier},now())
    </insert>
    
    <update id="update" parameterType="com.agri.monitor.entity.AgriBaseinfo">
    	update t_agribase_info set county=#{county},towns=#{towns},village=#{village},rksl=#{rksl},
    	gtmj=#{gtmj},gdmj=#{gdmj},gbzntmj=#{gbzntmj},ccmj=#{ccmj},
    	nzwzl=#{nzwzl},nzzmj=#{nzzmj},zzfs=#{zzfs},
    	modifier=#{modifier},last_time=#{last_time} where gid=#{gid}
    </update>
    
    <delete id="delete" parameterType="java.util.List">
    	delete from t_agribase_info where gid in
    	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
    		#{item}
    	</foreach>
    </delete>
    <delete id="deleteByTows" parameterType="map">
    	delete from t_agribase_info where towns=#{towns} and village=#{village}
    </delete>
</mapper>