<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agri.monitor.mapper.FacilitiesConditionInfoMapper">
	<select id="findById" parameterType="int" resultType="com.agri.monitor.entity.FacilityConditionInfo">
		select gid, 
			   date_year, 
			   county,
			   grass_vegetation_cover,
			   grass_grazing_capacity,
			   grass_grazing_capacity_reality,
			   agroforestry_farm_area_built, 
			   agroforestry_farm_area_predict,
			   forestry_area, 
			   land_area, 
			   wetland_area
		  from t_environment_quality 
		 where gid = #{gid}
	</select>

    <select id="queryInfoForPage" parameterType="com.agri.monitor.vo.FacilityConditionQueryVO" resultType="map">
        select gid,
			   date_year, 
			   county,
			   towns,
			   grass_vegetation_cover,
			   grass_grazing_capacity,
			   grass_grazing_capacity_reality,
			   agroforestry_farm_area_built, 
			   agroforestry_farm_area_predict,
			   forestry_area, 
			   land_area, 
			   wetland_area
		  from t_environment_quality 
		 where 1=1
       	<if test="date_year != null and date_year != ''">
        	and date_year &gt;= #{date_year}
       	</if>
       	<if test="date_year1 != null and date_year1 != ''">
        	and date_year &lt;= #{date_year1}
       	</if>
       	 order by date_year desc, gid limit #{currIndex},#{limit}
    </select>
    
    <select id="queryInfoCount" parameterType="com.agri.monitor.vo.EnvironmentQueryVO" resultType="int">
        select count(gid)
          from t_environment_quality 
       	 where 1=1
       	<if test="date_year != null and date_year != ''">
        	and date_year &gt;= #{date_year}
       	</if>
       	<if test="date_year1 != null and date_year1 != ''">
        	and date_year &lt;= #{date_year1}
       	</if>
    </select>
    
    <select id="queryGid" parameterType="com.agri.monitor.vo.EnvironmentQueryVO" resultType="java.lang.String">
   		select gid
     	  from t_environment_quality
     	 where county = #{county}
     	   and date_year = #{date_year}
    </select>
    
    <insert id="insertInfo" parameterType="com.agri.monitor.entity.EnvironmentInfo">
    	insert into t_environment_quality
    		(date_year, 
			 county,
			 towns,
			 grass_vegetation_cover,
			 grass_grazing_capacity,
			 grass_grazing_capacity_reality,
			 agroforestry_farm_area_built, 
			 agroforestry_farm_area_predict,
			 forestry_area, 
			 land_area, 
			 wetland_area,
			 creator,
			 modifier)
    	values
		   (#{date_year}, 
			#{county},
			#{towns},
			#{grass_vegetation_cover},
			#{grass_grazing_capacity},
			#{grass_grazing_capacity_reality},
			#{agroforestry_farm_area_built}, 
			#{agroforestry_farm_area_predict},
			#{forestry_area}, 
			#{land_area}, 
			#{wetland_area},
			#{creator},
			#{modifier})
    </insert>
    
    <update id="updateInfo" parameterType="com.agri.monitor.entity.EnvironmentInfo">
    	update t_environment_quality
    	   set grass_vegetation_cover = #{grass_vegetation_cover},
			   grass_grazing_capacity = #{grass_grazing_capacity},
			   grass_grazing_capacity_reality = #{grass_grazing_capacity_reality},
			   agroforestry_farm_area_built = #{agroforestry_farm_area_built}, 
			   agroforestry_farm_area_predict = #{agroforestry_farm_area_predict},
			   forestry_area = #{forestry_area}, 
			   land_area = #{land_area}, 
			   wetland_area = #{wetland_area},
    	   	   modifier = #{modifier}
    	 where gid = #{gid}
    </update>
    
    <delete id="delInfoByGid" parameterType="java.util.List">
    	delete from t_environment_quality where gid in
    	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
    		#{item}
    	</foreach>
    </delete>
</mapper>