<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agri.monitor.mapper.LandResourceMapper">
	<select id="findById" parameterType="int" resultType="com.agri.monitor.entity.LandResource">
		select * from t_landresource where gid=#{gid}
	</select>
    <select id="findAllForPage" parameterType="com.agri.monitor.vo.LandResourceQueryVO" resultType="map">
        select gid,county,towns,village,IFNULL(gdmj,' ') gdmj,IFNULL(gbzltmj,' ') gbzltmj,IFNULL(gbzltbz,' ') gbzltbz,
        IFNULL(qkmj,' ') qkmj,IFNULL(ycmj,' ') ycmj,IFNULL(ymmj,' ') ymmj,IFNULL(dc,' ') dc,IFNULL(zc,' ') zc,
         IFNULL(yjz,' ') yjz,IFNULL(qd,' ') qd,IFNULL(qlhl,' ') qlhl,IFNULL(yxlhl,' ') yxlhl,IFNULL(qjhl,' ') qjhl,
          IFNULL(ph,' ') ph,IFNULL(yd,' ') yd,IFNULL(sxjhl,' ') sxjhl,IFNULL(hxjhl,' ') hxjhl,IFNULL(year,' ') year
        from t_landresource where 1=1
        <if test="syear != null and syear != ''">
        	and year between #{syear} and #{eyear} 
	    </if>
	    order by year desc limit #{currIndex},#{limit}
    </select>
    <select id="findAllCount" parameterType="com.agri.monitor.vo.LandResourceQueryVO" resultType="int">
        select count(gid) from t_landresource where 1=1
        <if test="syear != null and syear != ''">
        	and year between #{syear} and #{eyear} 
	    </if>
    </select>
    
    <insert id="insert" parameterType="com.agri.monitor.entity.LandResource">
    	insert into t_landresource(gdmj,gbzltmj,gbzltbz,qkmj,ycmj,ymmj,dc,zc,yjz,qd,qlhl,yxlhl,qjhl,ph,yd,sxjhl,hxjhl,year)
    	values
	   (#{gdmj},#{gbzltmj},#{gbzltbz},#{qkmj},#{ycmj},#{ymmj},#{dc},#{zc},#{yjz},#{qd},#{qlhl},#{yxlhl},#{qjhl},#{ph},#{yd},#{sxjhl},#{hxjhl},#{year})
    </insert>
    
    <update id="update" parameterType="com.agri.monitor.entity.LandResource">
    	update t_landresource set gdmj=#{gdmj},gbzltmj=#{gbzltmj},gbzltbz=#{gbzltbz},qkmj=#{qkmj},ycmj=#{ycmj},
    	ymmj=#{ymmj},dc=#{dc},zc=#{zc},yjz=#{yjz},qd=#{qd},qlhl=#{qlhl},yxlhl=#{yxlhl},
    	qjhl=#{qjhl},ph=#{ph},yd=#{yd},sxjhl=#{sxjhl},hxjhl=#{hxjhl},year=#{year} where gid=#{gid}
    </update>
    
    <delete id="delete" parameterType="java.util.List">
    	delete from t_landresource where gid in
    	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
    		#{item}
    	</foreach>
    </delete>
</mapper>