<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agri.monitor.mapper.NmshInfoMapper">
	<select id="findById" parameterType="int" resultType="com.agri.monitor.entity.NmshInfo">
		select * from t_nmshinfo where gid=#{gid}
	</select>
    <select id="findAllForPage" parameterType="com.agri.monitor.vo.NmshInfoQueryVO" resultType="map">
        select gid,county,towns,IFNULL(village,' ') village,IFNULL(rjsr_ny,' ') rjsr_ny,IFNULL(rjsr_cmy,' ') rjsr_cmy,
        IFNULL(rjsr_ly,' ') rjsr_ly,IFNULL(rjsr_fwy,' ') rjsr_fwy,IFNULL(rjkzpsr,' ') rjkzpsr,
        IFNULL(srzzl,' ') srzzl,IFNULL(ljsj,' ') ljsj,
        IFNULL(ljcll,' ') ljcll,IFNULL(wsclxzcs,' ') wsclxzcs,IFNULL(wscll,' ') wscll,IFNULL(year,' ') year
        from t_nmshinfo where 1=1
        <if test="syear != null and syear != ''">
        	and year between #{syear} and #{eyear} 
	    </if>
	    order by year desc limit #{currIndex},#{limit}
    </select>
    <select id="findAllCount" parameterType="com.agri.monitor.vo.NmshInfoQueryVO" resultType="int">
        select count(gid) from t_nmshinfo where 1=1
        <if test="syear != null and syear != ''">
        	and year between #{syear} and #{eyear} 
	    </if>
    </select>
    
    <insert id="insert" parameterType="com.agri.monitor.entity.NmshInfo">
    	insert into t_nmshinfo(county,towns,village,rjsr_ny,rjsr_cmy,rjsr_ly,rjsr_fwy,srzzl,rjkzpsr,
    	ljsj,ljcll,wsclxzcs,wscll,year)
    	values
	   (#{county},#{towns},#{village},#{rjsr_ny},#{rjsr_cmy},#{rjsr_ly},#{rjsr_fwy}
	   ,#{srzzl},#{rjkzpsr},#{ljsj},#{ljcll},#{wsclxzcs},#{wscll},#{year})
    </insert>
    
    <update id="update" parameterType="com.agri.monitor.entity.NmshInfo">
    	update t_nmshinfo set county=#{county},towns=#{towns},village=#{village},rjsr_ny=#{rjsr_ny},
    	rjsr_cmy=#{rjsr_cmy},rjsr_ly=#{rjsr_ly},rjsr_fwy=#{rjsr_fwy},
    	rjkzpsr=#{rjkzpsr},srzzl=#{srzzl},ljsj=#{ljsj},
    	ljcll=#{ljcll},wsclxzcs=#{wsclxzcs},wscll=#{wscll},year=#{year}
    	 where gid=#{gid}
    </update>
    
    <delete id="delete" parameterType="java.util.List">
    	delete from t_nmshinfo where gid in
    	<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
    		#{item}
    	</foreach>
    </delete>
</mapper>