<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agri.monitor.mapper.SystemLogMapper">
    <insert id="insert" parameterType="com.agri.monitor.entity.SystemLog">
    	insert into t_system_log(operation_type,operation_status,operation_user,operation_log)
    	values(#{operation_type},#{operation_status},#{operation_user},#{operation_log})
    </insert>
    
</mapper>