<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>水质监测基本信息</title>
		<link rel="stylesheet" type="text/css" th:href="@{/temp/layui/css/layui.css}">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" th:src="@{/temp/framework/jquery-1.11.3.min.js}" ></script>
		<script type="text/javascript" th:src="@{/temp/layui/layui.js}"></script>
		<!-- 公共样式 结束 -->
	</head>

	<body>
		<div class="cBody" style="margin-top:10px;height: 450px">
			<form id="addForm" class="layui-form" action="">
				<input type="hidden" name="gid"/>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 140px">所属区域：</label>
	                <div class="layui-input-inline">
	                    <input type="text" name="county" readonly="readonly" class="layui-input" value="刚察县">
	                </div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label"  style="width: 140px">采样地点：</label>
					<div class="layui-input-block">
						<input type="text" name="quality_address" required lay-verify="required"
							 autocomplete="off" class="layui-input" style="width: 450px">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 140px">采样时间：</label>
					<div class="layui-input-block">
						<input id="quality_time" type="text" name="quality_time" required lay-verify="required" 
							autocomplete="off" class="layui-input" style="width: 150px" readonly="readonly">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 140px">分析项目：</label>
					<div class="layui-input-block">
						<input type="text" name="quality_type" required lay-verify="required" 
							autocomplete="off" class="layui-input" style="width: 450px">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 140px">分析结果（mg/L）：</label>
					<div class="layui-input-block">
						<input type="text" name="quality_result" required lay-verify="required|number" 
							autocomplete="off" class="layui-input" style="width: 450px">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label" style="width: 140px">备注：</label>
					<div class="layui-input-block">
						<textarea name="remarks" class="layui-textarea" style="width: 560px"></textarea>
					</div>
				</div>
				
				<div style="" class="layui-form-item">
					<div class="layui-input-block" style="text-align: center">
						<button class="layui-btn" lay-submit lay-filter="submitBut">保存</button>
					</div>
				</div>
			</form>
			
			<script th:src="@{/js/datamanage/waterinfo/waterupdate.js}"></script>
		</div>
	</body>

</html>