<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>农业生态环境信息</title>
		<link rel="stylesheet" type="text/css" th:href="@{/temp/layui/css/layui.css}">
	    <!--[if lt IE 9]>
	      	<script src="framework/html5shiv.min.js"></script>
	      	<script src="framework/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript" th:src="@{/temp/framework/jquery-1.11.3.min.js}" ></script>
		<script type="text/javascript" th:src="@{/temp/layui/layui.js}"></script>
		<!-- 公共样式 结束 -->
		
		<style type="text/css">
			.span_title{
				width : 250px;
			}
			.input_area{
				width : 150px;
			}
		</style>
	</head>

	<body>
		<div class="cBody" style="margin-top:10px;height: 450px">
			<form id="addForm" class="layui-form" action="">
				<input type="hidden" name="gid"/>
				<div class="layui-form-item">
					<label class="layui-form-label span_title">所属区域：</label>
	                <div class="layui-input-inline">
	                    <input type="text" name="county" readonly="readonly" class="layui-input input_area" value="刚察县">
	                </div>
	                <!--<label class="layui-form-label span_title">所属乡镇：</label>
	                <div class="layui-input-inline">
	                    <input type="text" name="towns" class="layui-input input_area">
	                </div>-->
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">年份：</label>
					<div class="layui-input-inline">
						<input id="date_year" type="text" name="date_year" required lay-verify="required" 
							autocomplete="off" class="layui-input input_area" readonly="readonly">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">名称：</label>
					<div class="layui-input-inline">
						<input type="text" name="agri_address" required lay-verify="required" 
							autocomplete="off" class="layui-input input_area">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">指标名称：</label>
	                <div class="layui-input-inline">
	                    <select name="animals_target">
							<option value="0"></option>
					    	<option th:each="type:${animalsTarget}" th:value="${type.gid}" th:text="${type.target_name}"></option>
					   </select>
	                </div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">年初存栏数：</label>
					<div class="layui-input-inline">
						<input type="text" name="year_begin_size" required lay-verify="required"
							autocomplete="off" class="layui-input input_area">
					</div>
					<label class="layui-form-label span_title">月末存栏数：</label>
					<div class="layui-input-inline">
						<input type="text" name="month_end_size" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">能繁殖母畜：</label>
					<div class="layui-input-inline">
						<input type="text" name="fertile_female" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">产仔数：</label>
					<div class="layui-input-inline">
						<input type="text" name="litter_size" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
					<label class="layui-form-label span_title">出栏数：</label>
					<div class="layui-input-inline">
						<input type="text" name="grown_size" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">出售数：</label>
					<div class="layui-input-inline">
						<input type="text" name="sell_size" lay-verify="required" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">肉：</label>
					<div class="layui-input-inline">
						<input type="text" name="meat" required lay-verify="number" 
							autocomplete="off" class="layui-input input_area">
					</div>
					<label class="layui-form-label span_title">奶：</label>
					<div class="layui-input-inline">
						<input type="text" name="milk" required lay-verify="number"
							autocomplete="off" class="layui-input input_area">
					</div>
				</div>
				
				
				<div class="layui-form-item">
					<label class="layui-form-label span_title">毛：</label>
					<div class="layui-input-inline">
						<input type="text" name="hair" lay-verify="number" 
							autocomplete="off" class="layui-input input_area"></input>
					</div>
				</div>
				
				<div style="" class="layui-form-item">
					<div class="layui-input-block" style="text-align: center">
						<button class="layui-btn" lay-submit lay-filter="submitBut">保存</button>
					</div>
				</div>
			</form>
			
			<script th:src="@{/js/datamanage/animalsyearinfo/animalsyearupdate.js}"></script>
		</div>
	</body>

</html>